serverless.yml
org: julio123
service: pardos-unified

provider:
  name: aws
  runtime: python3.13
  region: us-east-1
  memorySize: 256
  timeout: 29
  iam:
    role: arn:aws:iam::724498596680:role/LabRole
  environment:
    CUSTOMERS_TABLE: CustomersTable-pardos-unified-dev
    ORDERS_TABLE: OrdersTable-pardos-unified-dev
    STEPS_TABLE: StepsTable-pardos-unified-dev
    USERS_TABLE: UsersTable-pardos-unified-dev
    NOTIFICATIONS_TABLE: NotificationsTable-pardos-unified-dev
    EVENT_BUS_NAME: PardosEventBus-pardos-unified-dev
    JWT_SECRET: pardos-jwt-secret-key-2024
    DELIVERY_QUEUE_URL: !Ref DeliveryQueue
  httpApi:
    cors: true

functions:
  # Auth functions (existentes)
  register:
    handler: Lambdas/auth_service/handler.register
    events:
      - httpApi:
          path: /auth/register
          method: post
  login:
    handler: Lambdas/auth_service/handler.login
    events:
      - httpApi:
          path: /auth/login
          method: post
  validate:
    handler: Lambdas/auth_service/handler.validate
    events:
      - httpApi:
          path: /auth/validate
          method: get
  
  # Order management functions (existentes)
  createOrder:
    handler: Lambdas/ms_clientes/handler.create_order
    events:
      - httpApi:
          path: /orders
          method: post
  getOrdersByCustomer:
    handler: Lambdas/ms_clientes/handler.get_orders_by_customer
    events:
      - httpApi:
          path: /orders/{customerId}
          method: get
  createCustomer:
    handler: Lambdas/ms_clientes/handler.create_customer
    events:
      - httpApi:
          path: /customers
          method: post
  getCustomer:
    handler: Lambdas/ms_clientes/handler.get_customer
    events:
      - httpApi:
          path: /customers/{customerId}
          method: get
  getOrder:
    handler: Lambdas/ms_clientes/handler.get_order
    events:
      - httpApi:
          path: /order/{orderId}
          method: get

  # Stage management (existentes)
  iniciarEtapa:
    handler: Lambdas/ms_restaurante/handler.iniciar_etapa
    events:
      - httpApi:
          path: /etapas/iniciar
          method: post
  completarEtapa:
    handler: Lambdas/ms_restaurante/handler.completar_etapa
    events:
      - httpApi:
          path: /etapas/completar
          method: post

  # Dashboard (existentes)
  obtenerResumen:
    handler: Lambdas/ms_dashboard/handler.obtener_resumen
    events:
      - httpApi:
          path: /dashboard/resumen
          method: get
  obtenerMetricas:
    handler: Lambdas/ms_dashboard/handler.obtener_metricas
    events:
      - httpApi:
          path: /dashboard/metricas
          method: get
  obtenerPedidos:
    handler: Lambdas/ms_dashboard/handler.obtener_pedidos
    events:
      - httpApi:
          path: /dashboard/pedidos
          method: get

  # Step Functions stages (existentes)
  cookingStage:
    handler: Lambdas/ms_restaurante/handler.process_cooking
  packagingStage:
    handler: Lambdas/ms_restaurante/handler.process_packaging
  deliveryStage:
    handler: Lambdas/ms_restaurante/handler.process_delivery
  deliveredStage:
    handler: Lambdas/ms_restaurante/handler.process_delivered

  # NUEVAS: Funciones para confirmaciones y control de capacidad
  checkStageConfirmation:
    handler: Lambdas/ms_restaurante/handler.check_stage_confirmation
  confirmStage:
    handler: Lambdas/ms_restaurante/handler.confirm_stage
    events:
      - httpApi:
          path: /orders/{orderId}/confirm-stage
          method: post
  checkDeliveryQueue:
    handler: Lambdas/ms_restaurante/handler.check_delivery_queue

  # Notification functions (existentes)
  sendOrderNotification:
    handler: Lambdas/notifications/handler.send_order_notification
    events:
      - eventBridge:
          eventBus: !Ref PardosEventBus
          pattern:
            source:
              - "pardos.orders"
              - "pardos.etapas"
            detail-type:
              - "OrderCreated"
              - "OrderStageStarted"
              - "StageStarted" 
              - "StageCompleted"
              - "OrderDelivered"
  getCustomerNotifications:
    handler: Lambdas/notifications/handler.get_customer_notifications
    events:
      - httpApi:
          path: /notifications/{customerId}
          method: get
  markNotificationRead:
    handler: Lambdas/notifications/handler.mark_notification_read
    events:
      - httpApi:
          path: /notifications/{customerId}/read
          method: put

resources:
  Resources:
    # Tablas existentes
    UsersTable:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: UsersTable-pardos-unified-dev
        AttributeDefinitions:
          - AttributeName: PK
            AttributeType: S
        KeySchema:
          - AttributeName: PK
            KeyType: HASH
        BillingMode: PAY_PER_REQUEST

    CustomersTable:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: CustomersTable-pardos-unified-dev
        AttributeDefinitions:
          - AttributeName: PK
            AttributeType: S
        KeySchema:
          - AttributeName: PK
            KeyType: HASH
        BillingMode: PAY_PER_REQUEST

    OrdersTable:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: OrdersTable-pardos-unified-dev
        AttributeDefinitions:
          - AttributeName: PK
            AttributeType: S
          - AttributeName: SK
            AttributeType: S
          - AttributeName: customerId
            AttributeType: S
        KeySchema:
          - AttributeName: PK
            KeyType: HASH
          - AttributeName: SK
            KeyType: RANGE
        BillingMode: PAY_PER_REQUEST
        GlobalSecondaryIndexes:
          - IndexName: customerId-index
            KeySchema:
              - AttributeName: customerId
                KeyType: HASH
            Projection:
              ProjectionType: ALL

    StepsTable:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: StepsTable-pardos-unified-dev
        AttributeDefinitions:
          - AttributeName: PK
            AttributeType: S
          - AttributeName: SK
            AttributeType: S
        KeySchema:
          - AttributeName: PK
            KeyType: HASH
          - AttributeName: SK
            KeyType: RANGE
        BillingMode: PAY_PER_REQUEST

    NotificationsTable:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: NotificationsTable-pardos-unified-dev
        AttributeDefinitions:
          - AttributeName: PK
            AttributeType: S
          - AttributeName: SK
            AttributeType: S
        KeySchema:
          - AttributeName: PK
            KeyType: HASH
          - AttributeName: SK
            KeyType: RANGE
        BillingMode: PAY_PER_REQUEST

    # Event Bus existente
    PardosEventBus:
      Type: AWS::Events::EventBus
      Properties:
        Name: PardosEventBus-pardos-unified-dev

    # NUEVO: Cola SQS para control de capacidad
    DeliveryQueue:
      Type: AWS::SQS::Queue
      Properties:
        QueueName: delivery-queue-pardos-unified-dev
        VisibilityTimeout: 300
        MessageRetentionPeriod: 86400

    # Regla existente para iniciar Step Functions
    OrderCreatedRule:
      Type: AWS::Events::Rule
      Properties:
        Name: OrderCreatedRule
        EventBusName: !Ref PardosEventBus
        EventPattern:
          source:
            - "pardos.orders"
          detail-type:
            - "OrderCreated"
        State: ENABLED
        Targets:
          - Arn: !GetAtt OrderWorkflowStateMachine.Arn
            Id: StartOrderWorkflow
            RoleArn: arn:aws:iam::724498596680:role/LabRole
            InputTransformer:
              InputPathsMap:
                orderId: "$.detail.orderId"
                tenantId: "$.detail.tenantId"
                customerId: "$.detail.customerId"
              InputTemplate: |
                {
                  "orderId": "<orderId>",
                  "tenantId": "<tenantId>",
                  "customerId": "<customerId>"
                }

    # NUEVO: Step Functions modificado con confirmaciones y control de capacidad
    OrderWorkflowStateMachine:
      Type: AWS::StepFunctions::StateMachine
      Properties:
        StateMachineName: OrderWorkflow-pardos-unified-dev
        RoleArn: arn:aws:iam::724498596680:role/LabRole
        DefinitionString: !Sub |
          {
            "Comment": "Pardos Chicken Order Workflow - Con Confirmaciones Manuales y Control de Capacidad",
            "StartAt": "Cooking",
            "States": {
              "Cooking": {
                "Type": "Task",
                "Resource": "${CookingStageLambdaFunction.Arn}",
                "TimeoutSeconds": 3600,
                "Next": "WaitCookingConfirmation",
                "ResultPath": "$.cookingResult"
              },
              "WaitCookingConfirmation": {
                "Type": "Wait",
                "Seconds": 10,
                "Next": "CheckCookingConfirmation"
              },
              "CheckCookingConfirmation": {
                "Type": "Task",
                "Resource": "arn:aws:states:::lambda:invoke",
                "Parameters": {
                  "FunctionName": "${CheckStageConfirmationLambdaFunction.Arn}",
                  "Payload": {
                    "orderId.$": "$.orderId",
                    "tenantId.$": "$.tenantId",
                    "expectedStage": "COOKING"
                  }
                },
                "Next": "IsCookingConfirmed",
                "ResultPath": "$.confirmation"
              },
              "IsCookingConfirmed": {
                "Type": "Choice",
                "Choices": [
                  {
                    "Variable": "$.confirmation.Payload.confirmed",
                    "BooleanEquals": true,
                    "Next": "Packaging"
                  }
                ],
                "Default": "WaitCookingConfirmation"
              },
              "Packaging": {
                "Type": "Task",
                "Resource": "${PackagingStageLambdaFunction.Arn}",
                "TimeoutSeconds": 3600,
                "Next": "WaitPackagingConfirmation"
              },
              "WaitPackagingConfirmation": {
                "Type": "Wait",
                "Seconds": 10,
                "Next": "CheckPackagingConfirmation"
              },
              "CheckPackagingConfirmation": {
                "Type": "Task",
                "Resource": "arn:aws:states:::lambda:invoke",
                "Parameters": {
                  "FunctionName": "${CheckStageConfirmationLambdaFunction.Arn}",
                  "Payload": {
                    "orderId.$": "$.orderId",
                    "tenantId.$": "$.tenantId",
                    "expectedStage": "PACKAGING"
                  }
                },
                "Next": "IsPackagingConfirmed",
                "ResultPath": "$.packagingConfirmation"
              },
              "IsPackagingConfirmed": {
                "Type": "Choice",
                "Choices": [
                  {
                    "Variable": "$.packagingConfirmation.Payload.confirmed",
                    "BooleanEquals": true,
                    "Next": "CheckDeliveryCapacity"
                  }
                ],
                "Default": "WaitPackagingConfirmation"
              },
              "CheckDeliveryCapacity": {
                "Type": "Task",
                "Resource": "arn:aws:states:::lambda:invoke",
                "Parameters": {
                  "FunctionName": "${CheckDeliveryQueueLambdaFunction.Arn}",
                  "Payload": {
                    "orderId.$": "$.orderId",
                    "tenantId.$": "$.tenantId"
                  }
                },
                "Next": "CanProceedToDelivery",
                "ResultPath": "$.capacityCheck"
              },
              "CanProceedToDelivery": {
                "Type": "Choice",
                "Choices": [
                  {
                    "Variable": "$.capacityCheck.Payload.canProceed",
                    "BooleanEquals": true,
                    "Next": "Delivery"
                  }
                ],
                "Default": "WaitForCapacity"
              },
              "WaitForCapacity": {
                "Type": "Wait",
                "Seconds": 30,
                "Next": "CheckDeliveryCapacity"
              },
              "Delivery": {
                "Type": "Task",
                "Resource": "${DeliveryStageLambdaFunction.Arn}",
                "TimeoutSeconds": 7200,
                "Next": "WaitDeliveryConfirmation"
              },
              "WaitDeliveryConfirmation": {
                "Type": "Wait",
                "Seconds": 10,
                "Next": "CheckDeliveryConfirmation"
              },
              "CheckDeliveryConfirmation": {
                "Type": "Task",
                "Resource": "arn:aws:states:::lambda:invoke",
                "Parameters": {
                  "FunctionName": "${CheckStageConfirmationLambdaFunction.Arn}",
                  "Payload": {
                    "orderId.$": "$.orderId",
                    "tenantId.$": "$.tenantId",
                    "expectedStage": "DELIVERY"
                  }
                },
                "Next": "IsDeliveryConfirmed",
                "ResultPath": "$.deliveryConfirmation"
              },
              "IsDeliveryConfirmed": {
                "Type": "Choice",
                "Choices": [
                  {
                    "Variable": "$.deliveryConfirmation.Payload.confirmed",
                    "BooleanEquals": true,
                    "Next": "Delivered"
                  }
                ],
                "Default": "WaitDeliveryConfirmation"
              },
              "Delivered": {
                "Type": "Task",
                "Resource": "${DeliveredStageLambdaFunction.Arn}",
                "TimeoutSeconds": 300,
                "End": true
              }
            }
          }
