serverless.yml
org: ignaciovidal
service: pardos-unified

provider:
  name: aws
  runtime: python3.13
  region: us-east-1
  memorySize: 256
  timeout: 29
  iam:
    role: arn:aws:iam::841059623266:role/LabRole
  environment:
    CUSTOMERS_TABLE: CustomersTable-pardos-unified-dev
    ORDERS_TABLE: OrdersTable-pardos-unified-dev
    STEPS_TABLE: StepsTable-pardos-unified-dev
    USERS_TABLE: UsersTable-pardos-unified-dev
    NOTIFICATIONS_TABLE: NotificationsTable-pardos-unified-dev
    EVENT_BUS_NAME: PardosEventBus-pardos-unified-dev
    JWT_SECRET: pardos-jwt-secret-key-2024
    DELIVERY_QUEUE_URL: !Ref DeliveryQueue
    STAGE_CONFIRMATION_TIMEOUT: 86400  # 24 horas en segundos
    DELIVERY_CAPACITY_TIMEOUT: 3600    # 1 hora en segundos
  httpApi:
    cors: true

functions:
  cleanupExpiredTokens:
    handler: Lambdas/cleanup/handler.cleanup_expired_tokens
    events:
      - schedule: rate(5 minutes)
  # Auth functions (existentes)
  register:
    handler: Lambdas/auth_service/handler.register
    events:
      - httpApi:
          path: /auth/register
          method: post
  login:
    handler: Lambdas/auth_service/handler.login
    events:
      - httpApi:
          path: /auth/login
          method: post
  validate:
    handler: Lambdas/auth_service/handler.validate
    events:
      - httpApi:
          path: /auth/validate
          method: get
  
  # Order management functions (existentes)
  createOrder:
    handler: Lambdas/ms_clientes/handler.create_order
    events:
      - httpApi:
          path: /orders
          method: post
  getOrdersByCustomer:
    handler: Lambdas/ms_clientes/handler.get_orders_by_customer
    events:
      - httpApi:
          path: /orders/{customerId}
          method: get
  getCustomer:
    handler: Lambdas/ms_clientes/handler.get_customer
    events:
      - httpApi:
          path: /customers/{customerId}
          method: get
  getOrder:
    handler: Lambdas/ms_clientes/handler.get_order
    events:
      - httpApi:
          path: /order/{orderId}
          method: get

  # Dashboard (existentes)
  obtenerResumen:
    handler: Lambdas/ms_dashboard/handler.obtener_resumen
    events:
      - httpApi:
          path: /dashboard/resumen
          method: get
  obtenerMetricas:
    handler: Lambdas/ms_dashboard/handler.obtener_metricas
    events:
      - httpApi:
          path: /dashboard/metricas
          method: get
  obtenerPedidos:
    handler: Lambdas/ms_dashboard/handler.obtener_pedidos
    events:
      - httpApi:
          path: /dashboard/pedidos
          method: get

  # Step Functions stages (existentes)
  cookingStage:
    handler: Lambdas/ms_restaurante/handler.process_cooking
  packagingStage:
    handler: Lambdas/ms_restaurante/handler.process_packaging
  deliveryStage:
    handler: Lambdas/ms_restaurante/handler.process_delivery
  deliveredStage:
    handler: Lambdas/ms_restaurante/handler.process_delivered

  waitStageConfirmation:
    handler: Lambdas/ms_restaurante/handler.wait_stage_confirmation 
  waitDeliveryCapacity:
    handler: Lambdas/ms_restaurante/handler.wait_delivery_capacity
  confirmStage:
    handler: Lambdas/ms_restaurante/handler.confirm_stage
    events:
      - httpApi:
          path: /orders/{orderId}/confirm-stage
          method: post
  releaseDeliveryCapacity:
    handler: Lambdas/ms_restaurante/handler.release_delivery_capacity
    events:
      - httpApi:
          path: /orders/{orderId}/release-capacity
          method: post

  # Notification functions (existentes)
  sendOrderNotification:
    handler: Lambdas/notifications/handler.send_order_notification
    events:
      - eventBridge:
          eventBus: !Ref PardosEventBus
          pattern:
            source:
              - "pardos.orders"
              - "pardos.etapas"
            detail-type:
              - "OrderCreated"
              - "OrderStageStarted"
              - "StageStarted" 
              - "StageCompleted"
              - "OrderDelivered"
  getCustomerNotifications:
    handler: Lambdas/notifications/handler.get_customer_notifications
    events:
      - httpApi:
          path: /notifications/{customerId}
          method: get
  markNotificationRead:
    handler: Lambdas/notifications/handler.mark_notification_read
    events:
      - httpApi:
          path: /notifications/{customerId}/read
          method: put

resources:
  Resources:
    # Tablas existentes
    UsersTable:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: UsersTable-pardos-unified-dev
        AttributeDefinitions:
          - AttributeName: PK
            AttributeType: S
        KeySchema:
          - AttributeName: PK
            KeyType: HASH
        BillingMode: PAY_PER_REQUEST

    CustomersTable:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: CustomersTable-pardos-unified-dev
        AttributeDefinitions:
          - AttributeName: PK
            AttributeType: S
        KeySchema:
          - AttributeName: PK
            KeyType: HASH
        BillingMode: PAY_PER_REQUEST

    OrdersTable:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: OrdersTable-pardos-unified-dev
        AttributeDefinitions:
          - AttributeName: PK
            AttributeType: S
          - AttributeName: SK
            AttributeType: S
          - AttributeName: customerId
            AttributeType: S
        KeySchema:
          - AttributeName: PK
            KeyType: HASH
          - AttributeName: SK
            KeyType: RANGE
        BillingMode: PAY_PER_REQUEST
        GlobalSecondaryIndexes:
          - IndexName: customerId-index
            KeySchema:
              - AttributeName: customerId
                KeyType: HASH
            Projection:
              ProjectionType: ALL

    StepsTable:
  Type: AWS::DynamoDB::Table
  Properties:
    TableName: StepsTable-pardos-unified-dev
    AttributeDefinitions:
      - AttributeName: PK
        AttributeType: S
      - AttributeName: SK
        AttributeType: S
      - AttributeName: status
        AttributeType: S
      - AttributeName: expiresAt
        AttributeType: S
    KeySchema:
      - AttributeName: PK
        KeyType: HASH
      - AttributeName: SK
        KeyType: RANGE
    BillingMode: PAY_PER_REQUEST
    GlobalSecondaryIndexes:
      - IndexName: status-expiresAt-index
        KeySchema:
          - AttributeName: status
            KeyType: HASH
          - AttributeName: expiresAt
            KeyType: RANGE
        Projection:
          ProjectionType: ALL
      - IndexName: stage-status-index
        KeySchema:
          - AttributeName: SK
            KeyType: HASH
          - AttributeName: status
            KeyType: RANGE
        Projection:
          ProjectionType: ALL

    NotificationsTable:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: NotificationsTable-pardos-unified-dev
        AttributeDefinitions:
          - AttributeName: PK
            AttributeType: S
          - AttributeName: SK
            AttributeType: S
        KeySchema:
          - AttributeName: PK
            KeyType: HASH
          - AttributeName: SK
            KeyType: RANGE
        BillingMode: PAY_PER_REQUEST

    # Event Bus existente
    PardosEventBus:
      Type: AWS::Events::EventBus
      Properties:
        Name: PardosEventBus-pardos-unified-dev

    # NUEVO: Cola SQS para control de capacidad
    DeliveryQueue:
      Type: AWS::SQS::Queue
      Properties:
        QueueName: delivery-queue-pardos-unified-dev
        VisibilityTimeout: 300
        MessageRetentionPeriod: 86400

    # Regla existente para iniciar Step Functions
    OrderCreatedRule:
      Type: AWS::Events::Rule
      Properties:
        Name: OrderCreatedRule
        EventBusName: !Ref PardosEventBus
        EventPattern:
          source:
            - "pardos.orders"
          detail-type:
            - "OrderCreated"
        State: ENABLED
        Targets:
          - Arn: !GetAtt OrderWorkflowStateMachine.Arn
            Id: StartOrderWorkflow
            RoleArn: arn:aws:iam::841059623266:role/LabRole
            InputTransformer:
              InputPathsMap:
                orderId: "$.detail.orderId"
                tenantId: "$.detail.tenantId"
                customerId: "$.detail.customerId"
              InputTemplate: |
                {
                  "orderId": "<orderId>",
                  "tenantId": "<tenantId>",
                  "customerId": "<customerId>"
                }

    # NUEVO: Step Functions modificado con confirmaciones y control de capacidad
    OrderWorkflowStateMachine:
      Type: AWS::StepFunctions::StateMachine
      Properties:
        StateMachineName: OrderWorkflow-pardos-unified-dev
        RoleArn: arn:aws:iam::841059623266:role/LabRole
        DefinitionString: !Sub |
          {
            "Comment": "Pardos Chicken Order Workflow",
            "StartAt": "Cooking",
            "States": {
              "Cooking": {
                "Type": "Task",
                "Resource": "${CookingStageLambdaFunction.Arn}",
                "TimeoutSeconds": 3600,
                "Next": "WaitCookingConfirmation",
                "ResultPath": "$.cookingResult",
                "Catch": [
                  {
                    "ErrorEquals": ["States.ALL"],
                    "Next": "HandleCookingError",
                    "ResultPath": "$.error"
                  }
                ]
              },
              "WaitCookingConfirmation": {
                "Type": "Task",
                "Resource": "arn:aws:states:::lambda:invoke.waitForTaskToken",
                "Parameters": {
                  "FunctionName": "${WaitStageConfirmationLambdaFunction.Arn}",
                  "Payload": {
                    "orderId.$": "$.orderId",
                    "tenantId.$": "$.tenantId",
                    "stage": "COOKING",
                    "taskToken.$": "$$.Task.Token"
                  }
                },
                "TimeoutSeconds": 86400,
                "HeartbeatSeconds": 300,
                "Next": "Packaging",
                "Catch": [
                  {
                    "ErrorEquals": ["States.Timeout"],
                    "Next": "HandleConfirmationTimeout",
                    "ResultPath": "$.timeoutError"
                  },
                  {
                    "ErrorEquals": ["States.TaskFailed"],
                    "Next": "HandleConfirmationFailure",
                    "ResultPath": "$.failureError"
                  }
                ]
              },
              "Packaging": {
                "Type": "Task",
                "Resource": "${PackagingStageLambdaFunction.Arn}",
                "TimeoutSeconds": 3600,
                "Next": "WaitPackagingConfirmation"
              },
              "WaitPackagingConfirmation": {
                "Type": "Task",
                "Resource": "arn:aws:states:::lambda:invoke.waitForTaskToken",
                "Parameters": {
                  "FunctionName": "${WaitStageConfirmationLambdaFunction.Arn}",
                  "Payload": {
                    "orderId.$": "$.orderId",
                    "tenantId.$": "$.tenantId",
                    "stage": "PACKAGING",
                    "taskToken.$": "$$.Task.Token"
                  }
                },
                "TimeoutSeconds": 86400,
                "HeartbeatSeconds": 300,
                "Next": "WaitDeliveryCapacity"
              },
              "WaitDeliveryCapacity": {
                "Type": "Task",
                "Resource": "arn:aws:states:::lambda:invoke.waitForTaskToken",
                "Parameters": {
                  "FunctionName": "${WaitDeliveryCapacityLambdaFunction.Arn}",
                  "Payload": {
                    "orderId.$": "$.orderId",
                    "tenantId.$": "$.tenantId",
                    "taskToken.$": "$$.Task.Token"
                  }
                },
                "TimeoutSeconds": 3600,
                "HeartbeatSeconds": 60,
                "Next": "Delivery",
                "Catch": [
                  {
                    "ErrorEquals": ["States.Timeout"],
                    "Next": "RetryDeliveryCapacity",
                    "ResultPath": "$.capacityTimeout"
                  }
                ]
              },
              "RetryDeliveryCapacity": {
                "Type": "Wait",
                "Seconds": 30,
                "Next": "WaitDeliveryCapacity"
              },
              "Delivery": {
                "Type": "Task",
                "Resource": "${DeliveryStageLambdaFunction.Arn}",
                "TimeoutSeconds": 7200,
                "Next": "WaitDeliveryConfirmation"
              },
              "WaitDeliveryConfirmation": {
                "Type": "Task",
                "Resource": "arn:aws:states:::lambda:invoke.waitForTaskToken",
                "Parameters": {
                  "FunctionName": "${WaitStageConfirmationLambdaFunction.Arn}",
                  "Payload": {
                    "orderId.$": "$.orderId",
                    "tenantId.$": "$.tenantId",
                    "stage": "DELIVERY",
                    "taskToken.$": "$$.Task.Token"
                  }
                },
                "TimeoutSeconds": 86400,
                "HeartbeatSeconds": 300,
                "Next": "Delivered"
              },
              "Delivered": {
                "Type": "Task",
                "Resource": "${DeliveredStageLambdaFunction.Arn}",
                "TimeoutSeconds": 300,
                "End": true
              },
              "HandleCookingError": {
                "Type": "Fail",
                "Error": "CookingStageFailed",
                "Cause": "Error en la etapa de cocina"
              },
              "HandleConfirmationTimeout": {
                "Type": "Fail",
                "Error": "ConfirmationTimeout",
                "Cause": "Tiempo de espera agotado para confirmación"
              },
              "HandleConfirmationFailure": {
                "Type": "Fail",
                "Error": "ConfirmationFailed",
                "Cause": "Fallo en la confirmación"
              }
            }
          }







