pardos-restaurante/orquestador/statemachine.json
{
  "Comment": "Flujo de trabajo de pedidos Pardos Chicken",
  "StartAt": "Cocinar",
  "States": {
    "Cocinar": {
      "Type": "Task",
      "Resource": "${OrchestratorLambdaArn}",
      "Parameters": {
        "orderId.$": "$.orderId",
        "tenantId.$": "$.tenantId", 
        "currentStage": "COOKING"
      },
      "Next": "Empacar",
      "TimeoutSeconds": 1800
    },
    "Empacar": {
      "Type": "Task", 
      "Resource": "${OrchestratorLambdaArn}",
      "Parameters": {
        "orderId.$": "$.orderId",
        "tenantId.$": "$.tenantId",
        "currentStage": "PACKAGING"
      },
      "Next": "Entregar",
      "TimeoutSeconds": 900
    },
    "Entregar": {
      "Type": "Task",
      "Resource": "${OrchestratorLambdaArn}",
      "Parameters": {
        "orderId.$": "$.orderId", 
        "tenantId.$": "$.tenantId",
        "currentStage": "DELIVERY"
      },
      "Next": "PedidoCompletado",
      "TimeoutSeconds": 3600
    },
    "PedidoCompletado": {
      "Type": "Pass",
      "End": true
    }
  }
}